<form>
    <div>
        <label>Title</label>
    </div>

    <div>
        <label>Body</label>
    </div>

    <button type="submit">Create Post</button>
</form>

<script src="/js/newBlogpost.js"></script>