<div data-id="{{id}}">
    <h2>{{title}}</h2>
    <h4>Created by {{user.username}}</h4>

    <div>
        <p>{{body}}</p>
    </div>
</div>
{{!Still need to add in edit functionality and eventually comments}}